<h1>Bookings#edit</h1>
<p>Find me in app/views/bookings/edit.html.erb</p>



<%= simple_form_for([@professionel,@booking]) do |b| %>

  <%= b.input :date_resa %>
  <%= b.submit %>
<% end %>

<%= link_to "retour a l'index", professionels_path, class:"btn btn-danger"  %>
