<div class="contain"></div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img2.freepng.fr/20180310/jiq/kisspng-sport-poster-dynamic-sports-figures-silhouette-background-5aa464b5c11721.7236890615207231257909.jpg);">
  <div class="container">
    <h1>Trouve ton coach <strong>ton professionel de sante</strong> ou<strong> ta babysiter</strong>!</h1>
    <p>Change ta facon de faire du sport</p>
    <a class="btn btn-flat" href="/professionels">Apply now</a>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
